<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#222222">

    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">

    <link href="{{ '/assets/css/materialize.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ '/assets/css/app.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="{{ '/assets/js/app.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/written-number.min.js' | relative_url }}"></script>
</head>
