<ul id="slide-out" class="sidenav  sidenav-fixed">
    <li>
        <div class="drawer-item">
            <i class="fas fa-exclamation-triangle orange-text"></i>This site is under construction
        </div>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li>
        <div class="drawer-item">
            <div class="row">
                <div class="col s7">
                    <span>Speak numbers</span>
                </div>
                <div class="col s3">
                <span class="switch">
                        <label>
                            <input id="is-say-numbers" type="checkbox" onchange="handleIsSpeakNumChange(this)"/>
                            <span class="lever"></span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="drawer-item">
            <div class="row">
                <div class="col s7">
                    <span>Show numbers</span>
                </div>
                <div class="col s3">
                <span class="switch">
                    <label>
                        <input id="is-show-numbers" type="checkbox" checked onchange="handleIsShowNumChange(this)">
                        <span class="lever"></span>
                    </label>
                </span>
                </div>
            </div>
        </div>
    </li>

    <li>
        <div class="drawer-item">
            <div class="row">
                <div class="input-field col s12">
                    <select id="lang-selector" onchange="handleLanguageSelect(this.value)">
                        <option value="en" voice="en-US">English</option>
                        <option value="ptPT" voice="none">Portuguese</option>
                        <option value="es" voice="es-ES">Spanish</option>
                        <option value="fr" voice="fr-FR">French</option>
                        <option value="it" voice="it-IT">Italian</option>
                        <option value="eo" voice="none">Esperanto</option>
                        <option value="vi" voice="none">Vietnamese</option>
                        <option value="tr" voice="none">Turkish</option>
                    </select>
                </div>
            </div>
        </div>
    </li>

    <li>
        <div class="drawer-item">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="from-range">From</label>
                        <input id="from-range" type="text" value="0" oninput="">
                    </div>
                    <div class="input-field col s6">
                        <label for="to-range">To</label>
                        <input id="to-range" type="text" value="10" oninput="">
                    </div>
                </div>
        </div>
    </li>

    <li><a class="subheader">Advanced</a></li>

    <li>
        <div class="drawer-item">
            <div class="row">
            <div class="col s7">
            <span>Dark theme</span>
            </div>
            <div class="col s3">
            <span class="switch">
                <label>
                    <input id="dark-theme" type="checkbox" onchange="handleThemeChange(this)">
                    <span class="lever"></span>
                </label>
            </span>
        </div>
        </div>
        </div>
    </li>
    <!--<li>-->
        <!--<div class="drawer-item">-->
            <!--<span>Accent folding</span>-->
            <!--<span class="switch">-->
                <!--<label>-->
                    <!--<input id="is-accent-folding" type="checkbox" onchange="handleIsAccentFoldingChange(this)" checked>-->
                    <!--<span class="lever"></span>-->
                <!--</label>-->
            <!--</span>-->
        <!--</div>-->
    <!--</li>-->
    <li>
        <div class="drawer-item">
            <div class="row">
                <div class="col s7">
                    <span>Ignore Hyphens</span>
                </div>
                <div class="col s3">
                    <span class="switch">
                        <label>
                            <input id="is-ignore-hyphens" type="checkbox">
                            <span class="lever"></span>
                        </label>
                    </span>
                </div>
                <div class="col s2">
                    <i class="fas fa-question tooltipped grey-text" data-position="right"
                       data-tooltip="Numbers between 21 and 99 should be 'hyphenated', ex. twenty-three or vingt-cinq"></i>
                </div>
            </div>
            </div>
        </div>
    </li>
    <li>
        <div class="drawer-item">
            <div class="row">

            <div class="input-field col s12">
                    <span>Animation Type</span> <br>
                <div>
                    <label>
                        <input name="group1" type="radio" checked onchange="handleAnimationSelect('slide')"/>
                        <span>Slide</span>
                    </label>
                    <label>
                        <input name="group1" type="radio" onchange="handleAnimationSelect('push')"/>
                        <span>Push</span>
                    </label>
                    <label>
                        <input name="group1" type="radio" onchange="handleAnimationSelect('zoom')"/>
                        <span>Zoom</span>
                    </label>
                </div>
            </div>
            </div>
        </div>
    </li>


</ul>


