---
---

@import "mixins";
@import "zoom";
@import "slide";
@import "push";

header, main, footer {
    padding-left: 300px;
}


nav .brand-logo {
    font-size: 1.5rem;
}

nav .nav-wrapper{
  background: #ad1c56 url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#slider-wrapper {
    padding: 20px;
}

.drawer-item {
    padding: 0 16px;
}

#guessedNumber {
    font-family: Roboto;
    font-size: 3rem;
    margin: 0 !important;
}

#user-input {
  text-align: center;
}

@media only screen and (max-width : 992px) {
    header, main, footer, .brand-logo {
        padding-left: 0;
    }

    nav .brand-logo {
        left: auto;
        transform: none;
    }

}

svg {
  $size: 40px;
  width: $size;
  height: $size;
  display: none;
}

.path {
  stroke-linecap: round;
  stroke-dasharray: 27;
  stroke-dashoffset: -23;
  stroke: green;
  animation: dash 500ms ease forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.number-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 5rem;
}
.number-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}.number-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.number-wrapper b.current-number {
  position: relative;
}