<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header>
</header>

<main>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons"><i
                    class="fas fa-bars"></i></i></a>
            <span class="brand-logo">Learn Foreign Numbers</span>
        </div>
    </nav>

    {% include sidenav.html %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card grey lighten-4">
                    <div class="card-content">
                        <div class="row center-align">
                            <div class="guessed-number slide">
                                <span class="number-wrapper">
                                    <b class="current-number"></b>
                                    <b class="prev-number"></b>
                                </span>
                            </div>
                            <div id="guessedNumberString"></div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <input id="user-input" type="text" oninput="handleUserInput(this.value)">
                            </div>
                            <div class="input-field col s2">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg"  id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve">
                                    <polyline class="path" fill="none" points="20,6 9,17 4,12" stroke="#000000" stroke-miterlimit="10" stroke-width="2"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#" onclick="showHelp()">Help!</a>
                        <a href="#" onclick="speakk()">Say again</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer>

</footer>
<script src="{{ '/assets/js/materialize.min.js' | relative_url }}"></script>
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/lfn/sw.js')
            .then(function() { console.log("Service Worker Registered"); });
    }
</script>


</body>
</html>
