---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{{ '/assets/css/materialize.min.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ '/assets/css/app.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="{{ '/assets/js/app.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/written-number.min.js' | relative_url }}"></script>
</head>
<body>
<header>
</header>

<main>
    <nav>
        <div class="nav-wrapper">
            <!--<a href="#!" class="brand-logo">Logo</a>-->
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>

        </div>
    </nav>

    <ul id="slide-out" class="sidenav  sidenav-fixed">

        <li>
            <label>
                <input id="is-say-numbers" type="checkbox" onchange="handleIsSpeakNumChange(this)"/>
                <span>Speak numbers</span>
            </label>
        </li>
        <li>
            <label>
                <input id="is-show-numbers" type="checkbox" checked onchange="handleIsShowNumChange(this)"/>
                <span>Show numbers</span>
            </label>
        </li>

        <li>
            <div class="input-field col s12">
                <select id="lang-selector" onchange="handleLanguageSelect(this.value)">
                    <option value="en" voice="en-US">English</option>
                    <option value="ptPT" voice="none">Portuguese</option>
                    <option value="es" voice="es-ES">Spanish</option>
                    <option value="fr" voice="fr-FR">French</option>
                    <option value="it" voice="it-IT">Italian</option>
                    <option value="eo" voice="none">Esperanto</option>
                    <option value="vi" voice="none">Vietnamese</option>
                    <option value="tr" voice="none">Turkish</option>
                </select>
                <label>Materialize Select</label>
            </div>
        </li>


    </ul>

    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <div id="guessedNumber">0</div>
                    <div id="guessedNumberString"></div>
                    <p>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="user-input" type="text" oninput="handleChange(this.value)">
                        </div>
                    </p>
                </div>
            </div>
            <div class="card-action">
                <a href="#" onclick="showHelp()">Help!</a>
                <a href="#" onclick="speakk()">Say again</a>
            </div>
        </div>


    </div>
    </div>

</main>

<footer>

</footer>
<script src="{{ '/assets/js/materialize.min.js' | relative_url }}"></script>

</body>
</html>
